tests
.git
.idea
.circleci

.babelrc
.dockerignore
.DS_Store
.env
.env.example
.gitattributes
.gitignore

circle.yml
docker-compose.yml
Dockerfile
local.ini
gulpfile.js
package.json
package-lock.json
phpspec.yml
phpunit.xml
Thumbs.db
task-definition.json
webpack.mix.js

node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*/*/*/*/node_modules
*/*/*/*/*/node_modules
*/*/*/*/*/*/node_modules
*/*/*/*/*/*/*/node_modules
*/*/*/*/*/*/*/*/node_modules
*/*/*/*/*/*/*/*/*/node_modules

*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*/*/*.log

*.md
*/*.md
*/*/*.md
*/*/*/*.md
*/*/*/*/*.md
*/*/*/*/*/*.md
*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*/*/*.md
