.circleci
.git
.idea
.vscode

database
tests

.dockerignore
.DS_Store
.env
.env.example
.gitattributes
.gitignore

crontab
composer.json
composer.lock
docker-compose.yml
Dockerfile
local.ini
phpunit.xml
Thumbs.db
task-definition.json

*.log
*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log
*/*/*/*/*/*.log
*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*/*.log
*/*/*/*/*/*/*/*/*/*.log

*.md
*/*.md
*/*/*.md
*/*/*/*.md
*/*/*/*/*.md
*/*/*/*/*/*.md
*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*/*.md
*/*/*/*/*/*/*/*/*/*.md

*.txt
*/*.txt
*/*/*.txt
*/*/*/*.txt
*/*/*/*/*.txt
*/*/*/*/*/*.txt
*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*/*.txt
*/*/*/*/*/*/*/*/*/*.txt
